* {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.hide {
	display: none;
}

.new-store {
	margin: 20px 10% 15px 10%;
	padding: 5%;
	background: #D3D3D3; /* light gray */
	border-radius: 5px;
}

.new-store * {
	display: block;
}

input[type=text],
input[type=textarea] {
	border: none;
	width: 100%;
	padding: 5px;
	margin: 5px;
}

input[type=textarea] {
	height: 100px;
}