* {
    font-family: "Roboto", 'Montserrat', sans-serif;
    font-size: 15px;
}

html {
    height: 100%;
}

body {
    background-image: url(storefront.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    top: 0;
    right: 0;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
}

.hide {
    display: none;
}


/* Contains the form that enables user to log in */

.user-login,
.new-account,
.new-store {
    height: 100vh;
    width: 50%;
    float: right;
    background: #becccc;
}

.user-login {
    text-align: center;
}

.new-account,
.new-store {
    padding: 5%;
    text-align: left;
    box-sizing: border-box;
}

.landing-option {
    font-size: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
    text-decoration: none;
    margin: 20px;
    display: block;
}


/* Title on landing */

h1 {
    font-size: 75px;
    font-family: 'Righteous', Arial, sans-serif;
    color: white;
}

input[type=text],
input[type=textarea],
input[type=password],
input[type=email] {
    border: 1px solid #D3D3D3;
    /* gray */
    border-radius: 3px;
    /*width: 100%;*/
    padding: 5px;
    margin: 5px;
    height: 25px;
}

input[type=textarea] {
    height: 100px;
}

.details {
    background-color: red;
}

button,
input[type=submit] {
    background-color: #008CBA;
    /* blue */
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 14px;
    font-size: 16px;
    margin: 10px;
    display: inline-block;
}

button {
    background-color: rgba(0, 140, 186, 0.5);
    /* lt-blue */
}

button:hover,
input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.store-result-box {
    position: relative;
    background-color: rgb(245, 245, 245);
    /* light gray */
    border: 6px ridge rgb(220, 220, 220);
    /* medium gray */
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 100px 4px 25px;
    /* padding right for tier medal*/
    height: 83px;
    max-width: 550px;
}

.store-result-box h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.store-result-box p {
    margin: 0px;
}

.tier-round {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 3px solid rgb(200, 200, 200);
    /* medium gray */
    background-color: rgb(245, 245, 245);
    /* light gray */
}


/*.tier-medal img {*/

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75px;
    position: relative;
    top: 5px;
    left: 0px;
}
